
.player__item {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.player__back{
  z-index: 2;

  button {
    z-index: 2;
    position: fixed;
    top: 5px;
    left: 5px;
    border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    background: rgba(171, 136, 255,.8);
    color: #fff;
    outline: none;
    cursor: pointer;
  }
}



